:root {
  --Blue-50: hsl(240, 78%, 98%);
  --Gray-650: hsl(233, 13%, 49%);
  --Gray-700: hsl(232, 13%, 33%);
  --Gradient: linear-gradient(to right, hsl(237, 73%, 79%), hsl(238, 63%, 64%));
}

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex; justify-content: center;
  text-align: center;
  background-color: var(--Blue-50);
  min-height: 100vh;
}

.bg-image .bg-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30%;
}

.bg-image .bg-top{
    position: fixed;
    right: 0;
    height: 60%;
}

.pricing-title {
  margin: 90px 0 30px;
  font-size: 2.1rem;
  color: var(--Gray-700);
}

.toggle {
  padding: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background: var(--Gradient);
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle input:checked + .slider::before {
  transform: translateX(26px); 
}

.toggle-container {
  display: flex;
  align-items: center;  
  justify-content: center; 
  gap: 20px;            
  margin-bottom: 30px;   
}

.toggle-container span {
    color:var(--Gray-700);
    font-size: 16px;
}

.box-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 50px 0;
}

.card {
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  height: 420px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15), 0 3px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .plan-time {
  font-weight: 700;
  margin-bottom: 20px;
}

.card .price-section h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.card hr {
  border: 1px solid var(--Gray-650);
  margin: 10px 0;
}

.features p {
  font-weight: 700;
  margin: 10px 0 0;
}

.card-basic {
  background-color: var(--Blue-50);
  color: var(--Gray-700);
}

.card-professional {
  background: var(--Gradient);
  color: #fff;
  width: 350px;
}

.card-master {
  background-color: var(--Blue-50);
  color: var(--Gray-700);
}

.btn-learn-more {
  margin-top: auto;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.card-basic .btn-learn-more,
.card-master .btn-learn-more {
  background: var(--Gradient);
  color: var(--Blue-50);
}

.card-basic .btn-learn-more:hover,
.card-master .btn-learn-more:hover {
  border: 2px solid blue;
  background: var(--Blue-50);
  color: var(--Gray-650);
}

.card-professional .btn-learn-more {
  background: var(--Blue-50);
  color: var(--Gray-650);
}

.card-professional .btn-learn-more:hover {
  border: 2px solid #fff;
  background: var(--Gradient);
  color: #fff;
}

.attribution {
  position: fixed;
  bottom: 20px;
  left: 0; right: 0;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 768px) {
  .box-cards {flex-direction: column; align-items: center;gap: 30px;}
  .attribution {position: static; margin: 10px 0 10px;}
  .bg-top, .bg-bottom{display: none;}
}

@media (max-width: 1440px) {
  .card {width: 280px; height: 400px;}
  .toggle {width: 50px; height: 28px;}
  .slider::before {width: 22px; height: 22px; transform: translateX(22px);}
  .card .price-section h1 {font-size: 50px;}
  .pricing-title {font-size: 2rem;}
  .bg-bottom{display:none;}
  .bg-top{display: none;}
}
